<%# underscore tells rails that this is a partial template %>
<%# application.html.erb wont be loaded, only the partial template will %>

<%= div_for comment do %>
	<p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
      <%= h(comment.body) %>
    </p>
<% end %>