<%# javascript new_comment using jquery %>
<%# escape_javascript makes sure ruby text returned is valid javascript %>
<%# hide entire comment %>
<%# then we find the div with id comment, and we prepend, put in begining %>
<%# we fade in the comment in slowly %>
<%# last line of code resets the comment text bar for a new comment %>

var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();
